
.REValue {
    color: dodgerblue;
    border-bottom: dodgerblue 1px dashed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    cursor: col-resize;
    transition-duration: 1s;

}

.REValue:hover{
    cursor: col-resize;
    color: rgb(28, 128, 228);
    border-bottom: rgb(28, 128, 228) 1px dashed;
} 
.REValue:focus {
    cursor: col-resize;
}